@import "../../sass/global.scss";
.border {
  a {
    border-bottom: 3px solid $white;
    padding-bottom: 1.8rem;
    @media (max-width: 390px) {
      border-bottom: 3px solid $white;
      padding-bottom: 0;
    }
  }
}
.navDivider {
  position: absolute;
  z-index: 100;
  left: 150px;
  top: 2.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 38rem;
  @media (max-width: 1024px) {
    display: none;
  }
}
.close {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 40%;
}
.sidebar {
  display: none;
  @media (max-width: 390px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: -100vw;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);
    width: 70%;
    height: 100vh;
    transition: all 0.1s ease-in-out;
  }
  &__nav {
    margin: auto;
    height: 100%;
  }
}
.sidebar-animation {
  @media (max-width: 390px) {
    right: 0;
    transition: all 0.1s ease-in-out;
  }
}
.icon {
  margin-left: 20px;
  @media (max-width: 390px) {
    margin: 20px;
  }
}
.menu-button {
  display: none;
  @media (max-width: 390px) {
    display: block;
    margin-right: 20px;
  }
}
.nav_item {
  margin-bottom: 20px;
  & a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    &:hover {
      cursor: pointer;
    }
  }
}
.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  right: 0;
  top: 2rem;
  @media (max-width: 1024px) {
    top: 0;
  }
}

.navDestock {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: rgba(255, 255, 255, 0.04);
  height: 5rem;
  backdrop-filter: blur(7px);
  @media (max-width: 390px) {
    display: none;
  }
  &__navegacion {
    display: flex;
    font-size: 16px;
    gap: 50px;
    list-style: none;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    padding: 0 9rem;
    @media (max-width: 1024px) {
      padding: 0 5rem;
    }
    &__link {
      & a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
