.technology_content{
    width: 1440px;
    height: 900px;
    background-color: #0B0D17;
    background-image: url("/public/backgrounTechnology.png");
    display: flex;
    flex-direction: row;
    &-num{
        width: 470px;
        height: 303px;
        display: flex;
        flex-direction: column;
        color: #fff;
        button{
            width:30px;
            height:30px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            font-size:11px;
            line-height:32px;
            text-transform: uppercase;
        }
    }
    &-text{
        position: absolute;
        width: 470px;
        height: 303px;
        top: 383px;
        left: 325px;
        &-subtitle{
            color: #D0D6F9;
            font-family: Barlow Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.7px;
        }
        &-title{
            width: 470px;
            height: 64px;
            top: 30px;
            color: #FFF;
            font-family: Bellefair;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
        }
        &-content{
            width: 444px;
            color: #D0D6F9;
            font-family: Barlow;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
    }
    &-img{
        position: absolute;
        width: 515px;
        height: 527px;
        top: 272px;
        left: 925px;
        box-sizing: border-box;
        
    }
}